<header>
    <div class="header-nav">
      
      <p>ようこそ、
        <% if(locals.class === "student"){ %>
          <span><%= locals.grade%>:</span>
        <% }if(locals.class === "teacher"){%>
          <span>教師:</span>
        <% }%>
        <%= locals.name%>さん</p>
      <ul>
        <li><a href="/mypage">マイページ</a></li>
        <% if(locals.class === "student"){%>
          <li><a href="/request">授業申請</a></li>
        
        <% }if(locals.class === "teacher"){%>
          <li><a href="/students">生徒一覧</a></li>
          <li><a href="/contents">申請一覧</a></li>
        <% }%>
        <li><a href="/logout">ログアウト</a></li>
      </ul>
    </div>
    
  </header>