<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>T-Connect</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header'); %>
    <div class="container">
      <div class="introduce">
        <h1>在籍生徒</h1>
        <% students.forEach((student)=>{%>
          <p><%= student.grade%>:<%= student.name%></p>
        <% });%>
      </div>
    </div>
  </body>
</html>
